@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine

<h1>Create a Machine</h1>

@using (Html.BeginForm())
{
  <p>@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
  <p>@Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)
  <input type="submit" value="Submit">
}

